## Q. Find the nth highest salary from a given data frame

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql.session import SparkSession

spark = SparkSession.builder.appName("getNthhighestSalary").master("local[*]").getOrCreate()

columns = ["id", "salary"]
data = [(1001, 25000), (1002, 36000), (1003, 75000), (1004, 86000), (1005, 15000), 
        (1006, 36000), (1007, 45000), (1008, 22000),(1009, 25000), (1010, 16000)]

df = spark.createDataFrame(data, columns)
df.show()

+----+------+
|  id|salary|
+----+------+
|1001| 25000|
|1002| 36000|
|1003| 75000|
|1004| 86000|
|1005| 15000|
|1006| 36000|
|1007| 45000|
|1008| 22000|
|1009| 25000|
|1010| 16000|
+----+------+

In [3]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, dense_rank

windowSpec = Window.partitionBy().orderBy(col("salary"))

df_salary_rank = df.withColumn("salary_rank", dense_rank().over(windowSpec))

df_salary_rank.show()

+----+------+-----------+
|  id|salary|salary_rank|
+----+------+-----------+
|1005| 15000|          1|
|1010| 16000|          2|
|1008| 22000|          3|
|1001| 25000|          4|
|1009| 25000|          4|
|1002| 36000|          5|
|1006| 36000|          5|
|1007| 45000|          6|
|1003| 75000|          7|
|1004| 86000|          8|
+----+------+-----------+

In [4]:
n = int(input("Enter the value of n: "))
print("n is: ", n)

df_salary_rank.filter(f"salary_rank == {n}").show()

Enter the value of n: 5
n is:  5
+----+------+-----------+
|  id|salary|salary_rank|
+----+------+-----------+
|1002| 36000|          5|
|1006| 36000|          5|
+----+------+-----------+