### 1. Schedule Matches between Teams

Input table
+----------+
| Teams    |
+----------+
| India    |
| SriLanka |
| Australia|
+----------+

Output table

+-----------+----------+
|   Team A  | Team B   |
+-----------+----------+
| India     | SriLanka |
| India     | Australia|
| SriLanka  | Australia|
+-----------+----------+

In [8]:
import findspark
findspark.init()

In [9]:
from pyspark.sql.session import SparkSession

spark = SparkSession.builder.appName("self-join").master("local[*]").getOrCreate()

columns = ["Teams"]
data = [("India",), ("SriLanka",), ("Australia",)]

teams_df = spark.createDataFrame(data, columns)

teams_df.show()

+---------+
|    Teams|
+---------+
|    India|
| SriLanka|
|Australia|
+---------+

In [10]:
from pyspark.sql.functions import col

join_condition = col("T1.Teams") > col("T2.Teams")
join_type = "inner"

teams_df.alias("T1").join(teams_df.alias("T2"), join_condition, join_type).show()

+--------+---------+
|   Teams|    Teams|
+--------+---------+
|   India|Australia|
|SriLanka|    India|
|SriLanka|Australia|
+--------+---------+